doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title Sce-Packs
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(href='https://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="/css/main.css")
		link(rel="stylesheet" href="/css/animate.css")
	body
		div(class="col-md-4 center-block quitar-float text-center espacio-arriba-1")
			img(src="http://res.cloudinary.com/dqacxplnw/image/upload/v1451437357/logo_mqdieo.png" class="retraso1 animated fadeIn")
			h1(class="font-1 retraso1 animated fadeIn") Sce-Packs
			div(class="retraso2 animated fadeInDown")
				h4 Software para la Creación de Estimaciones
				h3 Crea & Envía
				nav
				ul(class="nav nav-pills nav-justified")
					li(role="presentation")
						a(href="/admincontratistas") Estimaciones
					li(role="presentation" class="active")
						a(href="menu/crear") Crear
					li(role="presentation")
						a(href="/administradores") Administradores
