doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title pagina1
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/main.css")
		link(rel="stylesheet" href="/css/animate.css")
	body
		div(class="navbar navbar-inverse navbar-fixed-top")
			div(class="container-fluid")
				div(class="navbar-header")
					button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand" href="#modal1" data-toggle="modal") pagina1
					
				div(class="collapse navbar-collapse")
					ul(class="nav navbar-nav navbar-right")
						li(class="active")
							a(href="/") Inicio
						li
							a(href="/admincontratistas") Login Contratista
						li
							a(href="/menu/crear") Crear
		div(class="modal fade" id="modal1")
						div(class="modal-dialog")
							div(class="modal-content centro")
								div(class="modal-header")
									button(tyle="button" class="close" data-dismiss="modal" aria-hidden="true")&times;
									h2(class="modal-title") pagina1
								div(class="modal-body")
									img(src="http://lorempixel.com/400/200/")									br
									br
									p lorem	
								div(class="modal-body")
									p Contacto
								
								div(class="modal-body")
									h5 By: Dan Torres
								div(class="modal-footer")
									button(tyle="button" class="btn btn-prymary" data-dismiss="modal") Cerrar



		script(src="https://code.jquery.com/jquery-2.1.4.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		block contenido
